name: Build Image Remote

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

env:
  GOGC: 50

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: remote
          append: |
            - name: docker00
              platforms: linux/amd64
              endpoint: tcp://docker.mouf.io:2376
              driver-opts:
                - cacert=/certs/docker00/ca-cert.pem
                - cert=/certs/docker00/client-cert.pem
                - key=/certs/docker00/client-key.pem
            - name: docker01
              platforms: linux/arm64
              endpoint: tcp://docker1.mouf.io:2376
              driver-opts:
                - cacert=/certs/docker01/ca-cert.pem
                - cert=/certs/docker01/client-cert.pem
                - key=/certs/docker01/client-key.pem

      - name: Build
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
