name: Build Image

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

env:
  GOGC: 50

jobs:
  build:
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    runs-on: arc-runner-set-na
    container:
      image: gcr.io/kaniko-project/executor:debug
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Build with Kaniko
        run: |
          /kaniko/executor \
            --context="${GITHUB_WORKSPACE}" \
            --dockerfile=Dockerfile \
            --platform=${{ matrix.platform }} \
            --no-push \
            --tar-path=image-${{ matrix.platform }}.tar
